/* FREE TRIAL BLOCK */

.free-trial {
  display: flex;
  justify-content: center;
  height: 20.9375rem;
  background: #F5FCFD;
}

.free-trial-content {
  margin-top: 8.3125rem;
  width: 39.2%;
  max-width: 850px;
  display: flex;
  justify-content: space-between;
}

.free-trial-title {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
}

.free-trial-text {
  margin-top: 1.5625rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
}

.free-trial-block-btn {
  cursor: pointer;
  margin-top: 1.4375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0F7BFF;
  border-radius: 1.5625rem;
  width: 16.5rem;
  height: 3.125rem;
  font-style: normal;
  margin-right: 0.8125rem;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.25rem;
  border: none;
}

.free-trial-block-btn img {
  width: 11.7%;
  margin-left: 5%;
}

.free-trial-block-btn:hover {
  transform: scale(1.1);
}

/* FREE TRIAL BLOCK END */