body {
  font-family: 'Quicksand', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* HEADER */

header {
  height: 64.3rem;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative;
}

.hamburger-menu {
  display: none;
  z-index: 3;
}

.menu-btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 1.25rem;
  right: 2.25rem;
  width: 1.625rem;
  height: 1.625rem;
  cursor: pointer;
}

.menu-btn>span, .menu-btn>span::before, .menu-btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu-btn>span::before {
  content: '';
  top: -0.5rem;
}

.menu-btn>span::after {
  content: '';
  top: 0.5rem;
}

.menu-box {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  width: 18rem;
  height: 100%;
  margin: 0;
  padding: 2rem 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.header-burg-menu-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
}

.header-burg-menu-list li {
  margin-bottom: 1rem;
}

.button-reg-burg {
  width: 10.3rem;
  height: 3.125rem;
  background: #0063DD;
  border-radius: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.header-top {
  position: relative;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  background-color: #0F7BFF;
  width: 11.25rem;
  height: 100%;
  margin-left: 7.1%;
  text-align: center;
  border-radius: 0 0 1.34rem 1.34rem;
  justify-content: center;
  align-items: center;
}

.logo-name {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: #FFFFFF;
}

.header-menu {
  position: absolute;
  right: 19%;
}

.header-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 19rem;
  list-style: none;
  text-transform: uppercase;
}

.header-menu-item a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #a5a5a5;
}

.header-menu-item a:hover {
  color: #0F7CFF;
}

.header-menu-item.active a {
  color: #0F7CFF;
}

.button-reg {
  right: 7.3%;
  position: absolute;
  width: 10.3rem;
  height: 3.125rem;
  background: #0063DD;
  border-radius: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.button-reg-text {
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  font-weight: bold;
}

.button-reg:hover {
  transform: scale(1.1);
}


.header-info-block {
  padding-top: 5.5rem;
  width: 33%;
  margin: 0 auto;
  text-align: center;
}

.header-title {
  margin: 0 0 1.6rem 0;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.8rem;
}

.header-text {
  margin: 0 0 2rem 0;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.69rem;
}

.free-trial-btn, .download-btn {
  width: 10.375rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  cursor: pointer;
}

.free-trial-btn:hover, .download-btn:hover{
  transform: scale(1.1);
}

.header-btn-block {
  display: flex;
  justify-content: center;
}

.download-btn {
  background: #0F7BFF;
  border-color: transparent;
  margin-right: 0.94rem;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
}

.free-trial-btn {
  background: #FFFFFF;
  border: 2px solid #0F7BFF;
  margin-left: 0.94rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2.25rem;
  color: #0F7BFF;
}

.phone-block {
  padding-top: 4rem;
  width: 43%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.first-phone, .second-phone, .third-phone {
  position: relative;
}

.first-phone img, .second-phone img, .third-phone img {
  position: absolute;
  width: 130%;
}

.third-phone, .first-phone {
  width: 31%;
  z-index: 1;
}

.second-phone {
  z-index: 2;
  width: 37%;
}

.first-phone img {
  right: -14.5%;
  top: 5.6875rem;
}

.second-phone img {
  left: -17.5%;
  width: 135%;
}

.third-phone img {
  left: -21%;
  top: 5.6875rem;
}

.arrow-down {
  z-index: 99;
  bottom: -3.5625rem;
  position: absolute;
  width: 7.125rem;
  height: 7.125rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

/* HEADER END */

/* SERVICES BLOCK */

.services-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 39.6875rem;
  background: #F5FCFD;
}

.services-block-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61.25%;
}

.services-block-item {
  margin: 0 0.9375rem;
  width: 30.8%;
  height: 18.125rem;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 0.25rem 1rem rgba(0, 66, 148, 0.08);
  border-radius: 0.3125rem;
  margin-top: -0.46875rem;
  text-align: center;
}

.services-block-item:nth-child(2) {
  margin-top: 2.65625rem;
}

.icon-block {
  width: 4.375rem;
  height: 4.375rem;
  margin: 0 auto;
  margin-top: 2.5rem;
}

.icon-block img {
  width: 100%;
}

.services-text-block {
  margin-top: 1.5625rem;
}

.services-title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.services-text {
  padding-top: 1.5625rem;
}

/* SERVICES BLOCK END */

/* ABOUT BLOCK */

.about-block {
  display: flex;
  justify-content: center;
  height: 74.375rem;
}

.about-block-content {
  display: grid;
  grid-template-areas: "post1 post2" "post3 post4";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 70.36%;
  max-width: 1400px;
  height: 100%;
}

.first-about-item {
  grid-area: post1;
}

.second-about-item {
  grid-area: post2;
}

.third-about-item {
  grid-area: post3;
}

.fourth-about-item {
  grid-area: post4;
}

.first-about-item, .fourth-about-item {
  position: relative;
}

.about-bg, .about-photo {
  position: absolute;
  z-index: 3;
}

.about-bg.first {
  width: 85.6%;
  top: -7%;
  left: -12%;
}

.about-photo.first {
  width: 82.6%;
  top: 10%;
}

.about-bg.second {
  width: 92.7%;
  left: -5.2%;
}

.about-photo.second {
  width: 58.1%;
  top: 5%;
}

.about-title {
  margin-top: 9.625rem;
  margin-bottom: 1.875rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
}

.about-text {
  width: 70%;
  margin-bottom: 2.1875rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
}

.about-link-block {
  display: flex;
  align-content: center;
  width: 10.4rem;
  cursor: pointer;
  justify-content: space-between;
}

.about-link {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  text-decoration: none;
  color: #0063DD;
}

.about-link-block img {
  width: 41%;
}

/* ABOUT BLOCK END */

/* HOW WORKS BLOCK */

.how-works {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 39.6875rem;
  background: #F5FCFD;
}

.how-works-info {
  width: 38%;
  text-align: center;
}

.how-works-title {
  margin-top: 7.4375rem;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
}

.how-works-text {
  margin-top: 1.5625rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
}

.work-steps {
  display: flex;
  position: relative;
  justify-content: center;
  width: 58%;
  margin-top: 2.8125rem;
}

.work-steps-item {
  width: 29.95%;
  text-align: center;
}

.work-steps-icon {
  width: 30%;
  position: relative;
}

.work-steps-title {
  margin-top: 1.875rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.work-steps-text {
  margin-top: 1.25rem;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

.work-steps-line {
  width: 51%;
  top: 22%;
  height: 0.6rem;
  position: absolute;
}

/* HOW WORKS BLOCK END */

/* PRICING PLAN BLOCK */

.pricing-plan {
  display: flex;
  justify-content: center;
  height: 52.1875rem;
}

.pricing-plan-content {
  display: flex;
  width: 59.7%;
  max-width: 1400px;
}

.pricing-plan-info {
  width: 29%;
  margin-right: 3.75rem;
}

.pricing-plan-title {
  margin-top: 18.1875rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
}

.pricing-plan-text {
  margin-top: 1.875rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
}

.plan-choise-container {
  margin-top: 2.5rem;
  height: 3.125rem;
  display: flex;
}

.plan-choise-item {
  cursor: pointer;
  width: 50%;
  border: 3px solid #0F7BFF;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0063DD;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}

.plan-choise-item.active {
  color: #FFFFFF;
  background: #0F7BFF;
}

.plan-choise-item.first {
  border-radius: 1.5625rem 0 0 1.5625rem;
}

.plan-choise-item.second {
  border-radius: 0 1.5625rem 1.5625rem 0;
}

.premium-plan, .standart-plan {
  width: 31.6%;
  height: 69%;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 36, 80, 0.08);
  margin-top: 8.125rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.premium-plan {
  margin-right: 1.875rem;
}

.plan-icon {
  margin-top: 2.4375rem;
  width: 31.5%;
}

.plan-name {
  margin-top: 1.25rem;
}

.underline {
  margin-top: 1.5625rem;
  width: 83.7%;
  height: 1px;
  border-top: 2px solid #E9F3F8;
}

.plan-attributes-list {
  padding: 0;
  margin-top: 1.4375rem;
  margin-bottom: 0;
  list-style: none;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 184%;
  text-align: center;
}

.plan-price {
  margin-top: 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  color: #0F7BFF;
  display: flex;
  align-items: flex-end;
}

.price-dollar {
  font-size: 1.2rem;
  margin-right: 0.1rem;
  line-height: 50%;
}

.price-num {
  line-height: 1.375rem;
}

.plan-apply-btn {
  cursor: pointer;
  margin-top: 2rem;
  width: 45.9%;
  height: 3.125rem;
  background: #0F7BFF;
  border-radius: 1.5625rem;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  border: 2px solid #0F7BFF;
  color: #FFFFFF;
}

.standart-plan .plan-apply-btn {
  background-color: white;
  color: #0F7BFF;
  ;
}

.plan-apply-btn:hover{
  transform: scale(1.1);
}

/* PRICING PLAN BLOCK END */

/* TESTIMONIALS BLOCK */

.testimonials {
  display: flex;
  justify-content: space-between;
  height: 37.5625rem;
  background: #F5FCFD;
}

.testimonials-pict {
  position: relative;
  width: 40.6%;
}

.testimonials-pict img {
  height: 100%;
  position: absolute;
  right: 0;
}

.testimonials-info {
  width: 54.3%;
}

.testimonials-title {
  margin-top: 7.0625rem;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
}

.slider-block {
  margin-top: 2.5rem;
}

.slider-block-wrapper {
  overflow: hidden;
  height: 13.7rem;
}

.slider-block-items {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100rem;
}

.slider-block-item {
  height: 99%;
  margin-left: 1.875rem;
  padding-left: 1.875rem;
  padding-top: 2.3rem;
  width: 22.6rem;
  background: #FFFFFF;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 70, 156, 0.08);
  border-radius: 0.3125rem;
  position: relative;
}

.slider-block-item:first-child {
  margin-left: 0;
}

.slider-item-name {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.slider-item-position {
  margin-top: 0.8rem;
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #999999;
}

.slider-item-text {
  width: 90%;
  margin-top: 1.5625rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.25rem;
}

.slider-item-icon {
  position: absolute;
  width: 6.6%;
  top: 3.125rem;
  right: 2.4875rem;
}

.slider-block-pagination {
  display: flex;
  margin-top: 2rem;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  border: 1.6px solid #0063DD;
  border-radius: 2rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.dot:first-child {
  margin: 0;
}

.dot:hover {
  background: #0063DD;
}

.dot.active {
  width: 2.375rem;
  background: #0063DD;
}

/* TESTIMONIALS BLOCK END */

/* NEWS BLOCK */

.news-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60.3125rem;
}

.news-block-info {
  text-align: center;
  width: 38.3%;
}

.news-block-title {
  margin-top: 8.125rem;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
}

.news-block-text {
  margin-top: 1.5625rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
}

.news-block-main {
  width: 60.4%;
  max-width: 1200px;
  height: 100%;
}

.news-block-items {
  display: grid;
  column-gap: 1rem;
  margin-top: 2.5rem;
  height: 65%;
  grid-template-areas: "post1 post2" "post1 post3" "post1 post4";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.news-block-item.first {
  grid-area: post1;
  width: 97%;
}

.news-block-item.second {
  grid-area: post2;
}

.news-block-item.third {
  grid-area: post3;
}

.news-block-item.fourth {
  grid-area: post4;
}

.news-block-item.second, .news-block-item.third, .news-block-item.fourth {
  display: flex;
}

.news-photo img {
  box-shadow: 0 0.25rem 1.25rem rgba(0, 70, 156, 0.08);
  border-radius: 0.3125rem;
}

.news-block-item.secondary .news-photo {
  width: 41%;
  margin-right: 1.875rem;
}

.news-block-item.secondary .news-title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 120%;
}

.news-block-item.secondary .news-text {
  margin-top: 1.5625rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
}

.news-photo img {
  width: 100%;
}

.news-block-item.main .news-title {
  margin-top: 1.875rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 150%;
  color: #0063DD;
}

.news-block-item.main .news-text {
  margin-top: 1.5625rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
}

.news-continue-link {
  margin-top: 5.1875rem;
  display: flex;
  align-content: center;
  width: 13.5625rem;
  cursor: pointer;
  justify-content: space-between;
}

.continue-link {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  text-decoration: none;
  color: #0063DD;
}

.news-continue-link img {
  width: 31%;
}

/* NEWS BLOCK END */

/* FREE TRIAL BLOCK */

.free-trial {
  display: flex;
  justify-content: center;
  height: 20.9375rem;
  background: #F5FCFD;
}

.free-trial-content {
  margin-top: 8.3125rem;
  width: 39.2%;
  max-width: 850px;
  display: flex;
  justify-content: space-between;
}

.free-trial-title {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
}

.free-trial-text {
  margin-top: 1.5625rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
}

.free-trial-block-btn {
  cursor: pointer;
  margin-top: 1.4375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0F7BFF;
  border-radius: 1.5625rem;
  width: 16.5rem;
  height: 3.125rem;
}

.free-trial-block-btn p {
  font-style: normal;
  margin-right: 0.8125rem;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.25rem;
}

.free-trial-block-btn img {
  width: 11.7%;
}

.free-trial-block-btn:hover{
  transform: scale(1.1);
}

/* FREE TRIAL BLOCK END */

/* FOOTER BLOCK */

footer {
  height: 30.3125rem;
}

.footer-subscription {
  display: flex;
  justify-content: center;
  height: 74%;
  background: #0F7BFF;
}

.subscription-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 29.1%;
  max-width: 700px;
}

.subscription-logo {
  margin-top: 7.375rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.8125rem;
  color: #FFFFFF;
}

.subscription-btn-block {
  margin-top: 1.875rem;
  display: flex;
  width: 100%;
  height: 3.125rem;
}

.subscription-email {
  padding-left: 1.75rem;
  width: 68.4%;
  background: #0063DD;
  border: 2px solid #0063DD;
  border-radius: 1.5625rem 0 0 1.5625rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
  color: #FFFFFF;
}

.subscription-email::placeholder {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 1rem;
}

.subscription-email::-webkit-input-placeholder {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 1rem;
}

.subscription-email::-moz-placeholder {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 1rem;
}

.subscription-btn {
  width: 31.6%;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 0 1.5625rem 1.5625rem 0;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 150%;
  color: #0063DD;
}

.footer-main {
  display: flex;
  justify-content: center;
  position: relative;
  height: 26%;
  background: #0063DD;
}

.footer-main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 59.7%;
}

.footer-copyright {
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
  color: #FFFFFF;
}

.footer-menu {
  margin-left: 12%;
}

.footer-menu-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.footer-list-item {
  margin-left: 2.5rem;
}

.footer-list-item a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
  color: #FFFFFF;
}

.footer-icons {
  display: flex;
  align-items: center;
}

.footer-icon {
  cursor: pointer;
  margin-left: 1.25rem;
}

.scroll-up-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 8.2%;
  width: 4.375rem;
  height: 4.375rem;
}

.scroll-up-btn img {
  cursor: pointer;
  width: 100%;
}

/* FOOTER BLOCK END */

/* ADAPTIVE */

@media all and (min-width: 2000px) {
  html{
    font-size: 110%;
  }
  .header-menu {
    right: 21%;
  }
  .button-reg {
    right: 9%;
  }
  .header-top {
    font-size: 120%;
  }
}

@media screen and (min-width: 1920px) {
  .testimonials-pict img {
    left: 0;
  }
}

@media screen and (max-width: 1850px) {
  header {
    background-position: center;
  }
  .header-menu {
    right: 22%;
  }
  .phone-block {
    padding-top: 8rem;
  }
}

@media screen and (max-width: 1670px) {
  html {
    font-size: 90%;
  }
  .work-steps-line {
    top: 16.5%;
  }
  .footer-main-content {
    width: 70%;
  }
  .free-trial-content {
    width: 50%;
  }
  .services-block-items {
    width: 70%;
  }
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 80%;
  }
  .footer-menu {
    margin-left: 2%;
  }
  .header-menu {
    right: 25%;
  }
  .work-steps-line {
    top: 13%;
  }
  .footer-main-content {
    width: 80%;
  }
  .services-block-items {
    width: 80%;
  }
  .phone-block {
    padding-top: 12.5rem;
  }
}

@media screen and (max-width: 1050px) {
  .work-steps-line {
    top: 10%;
  }
  .subscription-content {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 75%;
  }
  .phone-block {
    padding-top: 8rem;
  }
  .pricing-plan-content {
    width: 80%;
  }
  .footer-main-content {
    width: 94%;
  }
  .services-block-items {
    width: 97%;
    flex-direction: column;
  }
  header {
    height: 50rem;
  }
  .header-menu, .button-reg {
    display: none;
  }
  .header-info-block {
    width: 50%;
  }
  .hamburger-menu {
    display: block;
  }
  .services-block {
    height: auto;
  }
  .services-block-item:nth-child(2) {
    margin-top: 2rem;
  }
  .services-block-item {
    margin: 0;
    width: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .about-block {
    height: auto;
  }
  .about-block-content {
    margin-bottom: 2rem;
    justify-items: center;
    grid-template-areas: "post1" "post2" "post4" "post3";
    grid-template-columns: 1fr;
    row-gap: 2rem;
    grid-template-rows: 18rem 15rem 18rem 15rem;
  }
  .first-about-item, .fourth-about-item {
    width: 45%;
  }
  .second-about-item, .third-about-item {
    width: 60%;
    text-align: center;
  }
  .about-title {
    margin-top: 0;
  }
  .about-text {
    width: 100%;
  }
  .work-steps-line {
    display: none;
  }
  .how-works {
    height: auto;
  }
  .work-steps {
    flex-direction: column;
    align-items: center;
  }
  .work-steps-item {
    width: 70%;
    margin-bottom: 2rem;
  }
  .services-text {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .free-trial-content {
    width: 70%;
  }
  .news-block {
    height: auto;
  }
  .news-block-items {
    grid-template-areas: "post1" "post2" "post3" "post4";
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 1fr 1fr;
  }
  .news-continue-link {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .news-block-info {
    width: 50%;
  }
  .footer-main-content {
    justify-content: center;
  }
  .footer-menu {
    margin-left: 0;
  }
  .footer-list-item {
    margin-left: 1rem;
  }
  .footer-list-item:first-child {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  header {
    height: 40rem;
  }
  .header-info-block {
    width: 90%;
  }
  .services-block-item {
    width: 70%;
  }
  .about-block-content {
    width: 97%;
  }
  .first-about-item, .fourth-about-item {
    width: 60%;
  }
  .second-about-item, .third-about-item {
    width: 80%;
  }
  .how-works-info, .work-steps {
    width: 70%;
  }
  .pricing-plan {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .pricing-plan-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .pricing-plan-info {
    width: 100%;
    margin-right: 0;
  }
  .standart-plan, .premium-plan {
    width: 100%;
    margin-right: 0;
    margin-top: 2rem;
  }
  .standart-plan {
    margin-bottom: 2rem;
  }
  .plan-icon {
    margin-top: 1rem;
    width: 15%;
  }
  .plan-apply-btn {
    margin-bottom: 2rem;
  }
  .news-block-main {
    width: 85%;
  }
  .news-block-item.first {
    margin-bottom: 1rem;
  }
  .subscription-content {
    width: 80%;
  }
  .news-block-info {
    width: 70%;
  }
  .footer-subscription {
    height: 65%;
  }
  .footer-main {
    height: 35%;
  }
  .footer-main, .footer-main-content {
    flex-direction: column;
  }
  .pricing-plan-title {
    margin-top: 1rem;
  }
  .free-trial-content {
    margin-top: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .how-works-title, .news-block-title {
    margin-top: 1rem;
  }
  .header-info-block {
    padding-top: 1rem;
  }
  .phone-block {
    padding-top: 8rem;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 70%;
  }
  .about-block-content {
    grid-template-rows: 14rem 17rem 16rem 15rem;
    margin-bottom: 4rem;
  }
  .news-block-items {
    grid-template-rows: 3fr 1fr 1fr 1fr;
  }
  .subscription-content, .free-trial-content {
    width: 90%;
  }
}

/* ADAPTIVE END */